img {
    max-width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-bottom: 1%;
    padding-right: 2%;
    height: auto;
}

div {
    overflow: auto;
}

div .child {
    white-space: initial;
    display: inline;
}

.column { 
    float: left;
    width: 50%;
}

.row {
    padding: 0 1.5% 0 1.5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}