<p>
  <img src="{{ cSharpImage }}" alt="charp" />
  <ngb-progressbar
    [showValue]="true"
    type="primary"
    [value]="cSharp"
    [showValue]="false"
    [animated]="true"
    class="child prog"
    height="30px"
  >
    <div>{{ cSharp }}%</div>
  </ngb-progressbar>
</p>
<p>
  <img src="{{ jsImage }}" alt="js" class="child" />
  <ngb-progressbar
    [showValue]="true"
    type="warning"
    [value]="js"
    [showValue]="false"
    [striped]="true"
    [animated]="true"
    class="child prog"
    height="30px"
  >
    <div>{{ js }}%</div>
  </ngb-progressbar>
</p>
<p>
  <img src="{{ angularImage }}" alt="angular" />
  <ngb-progressbar
    [showValue]="true"
    type="danger"
    [value]="angular"
    [showValue]="false"
    class="child prog"
    height="30px"
  >
    <div>{{ angular }}%</div>
  </ngb-progressbar>
</p>
<p>
  <img src="{{ postgreImage }}" alt="postgre" />
  <ngb-progressbar
    [showValue]="true"
    type="info"
    [value]="postgre"
    [showValue]="false"
    [animated]="true"
    class="child prog"
    height="30px"
  >
    <div>{{ postgre }}%</div>
  </ngb-progressbar>
</p>
